@font-face {
   font-family: BonaNovaSC-Italic;
   src: url("assets/fonts/BonaNovaSC-Italic.ttf");
 }

 body {
   font-family: BonaNovaSC-Italic;
   text-align: center;
   background-image: url("assets/img/background.jpg");
 }

 * {
   box-sizing: border-box;
 }

p {
  line-height: 1px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}