* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
  }

html {
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(60% 215.42% at 0% 0%, #d4210dd8 0%, #b8646491 100%);
    min-height: 100%;
    overflow-x: hidden;
}

  body {
      max-width: 1280px;

  }

  /*========Blok Header========*/

  header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  h1 {
    padding: 20px;
    border-block-end: solid 2px;
    cursor: default;
  }

nav {
    align-content: center;
    padding: 20px;
}

ul {
    display: flex;
    gap: 35px;
    list-style-type: none;
}

  /*========Blok Main========*/

  main {
    padding: 10px;
  }

  .aboutyourself {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

.myPhoto {
    padding: 20px;
    width: 350px;
    height: 350px;
}

.information {
    padding: 20px;
}

h2 {
    padding: 15px;
    cursor: default;
}

p {
    font-size: 20px;
    cursor: default;

}

li {
  font-size: 20px;
  cursor: default;
}

  /*========Blok Other========*/

.other {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.project {
  padding: 30px;
  align-content: center;
}

.skills {
  padding: 30px;
  align-content: center;
}

.mycontacts {
  padding: 30px;
  align-content: center;
}

  /*========Blok Footer========*/

footer {
    display: flex;
    padding: 30px 130px 20px 90px;
    justify-content: space-between;
  }

.footer1 {
  display: flex;
  width: 175px;
  align-items: center;
  justify-content: space-between;
  margin: 0%;
}

.logo {
  margin: 0%;
}

.github {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

.github:hover {
    border-block-end: solid 1px;
}